html, body {
	height: 100%;
	width: 100%;
}

body {
	background-color: #fff;
}
.table {
	margin-top: 5%;
}
#container {
	min-height: 70%;
}
#content, #mapka {
	width: 100%;
	/*height: calc(100% - 52px);*/
	margin-bottom: 5%;
}

#mapka {
	height: 70%;
}

#place-box {
display: none;
}

.info-window {
	max-width: 500px;
}

.info-window h5 {
	margin: 0;
}

#login-form, #register-form, #herb-form {
	margin: 50px auto 0 auto;
	padding: 10px;
	max-width: 350px;	
}

#login-form #login-form-heading {
	margin-bottom: 10px;
}

#login-form .form-control, #register-form .form-control, #herb-form .form-control{
	 padding: 10px;
	 height: auto;
	 position: relative;
	 -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
     box-sizing: border-box;
	font-size: 16px;
}

#login-form .form-control:focus {
	z-index: 2;
}

#login-form input[type="text"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

#login-form input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

#register-password {
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
}

#register-password2, #place-lng {
   margin-top: -1px;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
}

#geolocator {
	margin-right: 10px;
	position: relative;
	top: 8px;
	left: 5px;
	z-index: 999;
}

#geolocator input[type=text] {
	width: 200px;
}

#new-marker {
    width: 300px;
	position: fixed;
	top: 104px;
	left: 0;
	z-index: 1000;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

#new-marker .panel-heading {
    border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.alert {
margin-bottom: 0;
}

.inline div {
	display: inline-block;
	vertical-align: middle;
}

.navbar {
	margin-bottom: 0;
	height: 15% !important;
}
.navbar-default {
	background-color: #fff !important;
}
.navbar-brand img {
	width: 100%;
}
ul#logo {
	width: 20%;
}
div#menu {
	margin: 4% 0 4% 20%;
}
#logo img{
	width: 100%;
}
ul.nav.navbar-nav.navbar-menu {
	width: 100%;
}
#legend div {
    padding: 2px;
    color: #fff;
    float: left;
    width: 20px;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: center; 
}
.jumbotron {
	text-align: center;
	background-color: inherit;
}



/*Default Breadcrumbs*/
.breadcrumbs {
	overflow: hidden;
	padding: 10px 0 6px;
	border-bottom: solid 1px #eee;
	background: url(../img/patterns/breadcrumbs.png) repeat;
	width: 100%;
}

.breadcrumbs h1 {
	color: #666;
	font-size: 22px;
	margin-top: 8px;
}

.breadcrumb {
	top: 10px;
	padding-right: 0;
	background: none;
	position: relative;
}
.breadcrumb a {
	color: #777;
}
.breadcrumb li.active,
.breadcrumb li a:hover {
	color: #72c02c;
	text-decoration: none;
}

@media (max-width: 550px) {
	.breadcrumbs h1.pull-left,
	.breadcrumbs ul.pull-right {
		width: 100%;
		text-align: center;
	}

	.breadcrumbs h1.pull-left {
		margin-bottom: 0;
	}

	.breadcrumbs .breadcrumb {
		top: 0;
		margin-bottom: 10px;
	}
}

/*Breadcrumbs Dark and Light*/
.breadcrumbs.breadcrumbs-dark,
.breadcrumbs.breadcrumbs-light {
	background: #222;
	padding: 30px 0 20px;
	border-bottom: solid 3px #777;
}

.breadcrumbs.breadcrumbs-light {
	background: #f7f7f7;
	border-bottom: 1px solid #eee;
}

.breadcrumbs.breadcrumbs-dark h1,
.breadcrumbs.breadcrumbs-dark a,
.breadcrumbs.breadcrumbs-light h1,
.breadcrumbs.breadcrumbs-light a {
	color: #fff;
	font-weight: 200;
}

.breadcrumbs.breadcrumbs-light h1,
.breadcrumbs.breadcrumbs-light a {
	color: #555;
}

.breadcrumbs.breadcrumbs-dark h1 {
	font-size: 24px;
}

.breadcrumbs.breadcrumbs-light h1 {
	font-size: 26px;
}

/*Breadcrumbs Sizes*/
.breadcrumbs-sm {
	padding: 50px 0;
}
.breadcrumbs-md {
	padding: 100px 0;
}
.breadcrumbs-lg {
	padding: 200px 0;
}

/*Breadcrumbs v1 and v3
------------------------------------*/
.breadcrumbs-v1,
.breadcrumbs-v3 {
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}

/*Breadcrumbs v1
------------------------------------*/
.breadcrumbs-v1 {
	padding: 100px 0;
	position: relative;
	background: url(../img/breadcrumbs/img1.jpg) center no-repeat;
	background-size: cover; /*Scales the background image to be as large as possible*/
}

.breadcrumbs-v1:after {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: " ";
	position: absolute;
	background: rgba(0,0,0,0.15);
}

.breadcrumbs-v1 span,
.breadcrumbs-v1 h1 {
	color: #fff;
	z-index: 1;
	position: relative;
}

.breadcrumbs-v1 span {
	font-size: 24px;
	font-weight: 200;
	margin-bottom: 5px;
	display: inline-block;
}

.breadcrumbs-v1 h1 {
	font-size: 50px;
	margin-bottom: 0;
	line-height: 55px;
	text-transform: uppercase;
}

@media (max-width: 768px) {
	.breadcrumbs-v1 {
		padding: 50px 0;
	}

	.breadcrumbs-v1 h1 {
		font-size: 40px;
		line-height: 45px;
	}
}

/*Breadcrumbs v2
------------------------------------*/
.breadcrumbs-v2 {
	text-align: center;
	position: relative;
	background: url(../img/bg/11.jpg) no-repeat center;
}

.breadcrumbs-v2-in {
	padding: 80px 0;
	position: relative;
}

.breadcrumbs-v2 h1 {
	color: #fff;
	text-transform: uppercase;
}

.breadcrumb-v2 li a,
.breadcrumb-v2 li.active {
	color: #fff;
}

.breadcrumb-v2 li i {
	color: #fff;
	min-width: 19px;
	padding: 3px 7px;
	margin-right: 5px;
	text-align: center;
	border: 1px solid #fff;
}

/*Breadcrumbs v3
------------------------------------*/
.breadcrumbs-v3 {
	z-index: 1;
	padding: 100px 0;
	position: relative;
}

.breadcrumbs-v3.breadcrumbs-lg {
	padding: 200px 0;
}

.breadcrumbs-v3.img-v1 {
	background: url(../img/breadcrumbs/img1.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
}

.breadcrumbs-v3.img-v2 {
	background: url(../img/breadcrumbs/img2.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
}

.breadcrumbs-v3.img-v3 {
	background: url(../img/breadcrumbs/img3.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
}

.breadcrumbs-v3:after {
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	content: " ";
	position: absolute;
	background: rgba(0,0,0,0.2);
}

.breadcrumbs-v3 h1 {
	color: #fff;
	font-size: 40px;
	line-height: 50px;
	text-transform: uppercase;
}

.breadcrumbs-v3 p {
	color: #fff;
	font-size: 24px;
	font-weight: 200;
	margin-bottom: 0;
	text-transform: uppercase;
}

@media (max-width: 992px) {
	.breadcrumbs-v3.breadcrumbs-lg {
		padding: 100px 0;
	}
}

@media (max-width: 768px) {
	.breadcrumbs-v3,
	.breadcrumbs-v3.breadcrumbs-lg {
		padding: 50px 0;
	}

	.breadcrumbs-v3 h1 {
		font-size: 30px;
		line-height: 40px;
	}

	.breadcrumbs-v3 p {
		font-size: 18px;
	}
}


/*footer*/
/*Footer-v1
------------------------------------*/
.footer-v1 .footer {
	padding: 40px 0;
	background: #272727;
}

.footer-v1 .footer p {
	color: #eee;
}

.footer-v1 .footer h2 {
	color: #eee;
	font-size: 18px;
	font-weight: 200;
}

/*Link List*/
.footer-v1 .link-list li {
	border-top: solid 1px #353535;
}

.footer-v1 address,
.footer-v1 .link-list a,
.footer-v1 .link-list i {
	color: #eee;
}

.footer-v1 address {
	line-height: 23px;
}

/*Dotted Map*/
.footer-v1 .footer .map-img {
	background: url(../../img/map-img.png) 5px 60px no-repeat;
}

/*Blog Posts (with images)*/
.footer-v1 .footer .posts .dl-horizontal a {
	color: #dadada;
}

.footer-v1 .footer .dl-horizontal a:hover {
	color: #5fb611 !important;
}

/*Copyright*/
.footer-v1 .copyright {
	background: #222;
	border-top: none;
	padding: 10px 0 5px;
}

.footer-v1 .copyright p {
	color: #eee;
	margin-top: 14px;
}

.footer-v1 .copyright a {
	margin: 0 2px;
}

.footer-v1 .footer-socials {
	margin-top: 12px;
	text-align: right;
}

.footer-v1 .footer-socials li a {
	color: #777;
	font-size: 16px;
}

@media (max-width: 991px) {
	.footer-v1 .copyright,
	.footer-v1 .footer-socials {
		text-align: left;
	}
}

.footer img{
	width: 15%;
	opacity: 0.4;
	float: right;
}

img#fot {
	width: 300px;
}
img#fot:hover {
	-webkit-transition: width 2s;
	transition: width 2s;
	width: 700px;
}